<li class='country-item'>
  <div class='country'>
    <img class='flag' src='{{flag}}' alt='' width='40px' />
    <div class='country-name' style='font-size: 40px; font-weight: bold'>{{name}}</div>
  </div>
  <div class='capital'><span>Capital: </span>{{capital}}</div>
  <div class='population'><span>Population: </span>{{population}}</div>
  <div class='language'><span>Language: </span>{{languages}}</div>
</li>